html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #F0F3F5;
}

.nav {
    background-color: #F0F3F5;
}

.login > div {
    width: 90%;
    height: 90%;
}

.login {
    background-color: #b2bec3;
}

.bg-img-login {
    background-color: #636e72;
}